name = "store-crud-front"
compatibility_date = "2024-09-23"
main = "src/index.tsx"

# Static assets
assets.directory = "./dist"
assets.binding = "ASSETS"

# Production environment variables (default)
[vars]
API_URL = "https://store-crud-api.eri-42e.workers.dev"
GOOGLE_REDIRECT_URI = "https://store-crud-front.eri-42e.workers.dev/auth/callback/google"

# Development Environment
[env.dev]
vars.API_URL = "http://localhost:8787"
vars.GOOGLE_REDIRECT_URI = "http://localhost:5173/auth/callback/google"

# Production Environment
[env.production]
vars.API_URL = "https://store-crud-api.eri-42e.workers.dev"
vars.GOOGLE_REDIRECT_URI = "https://store-crud-front.eri-42e.workers.dev/auth/callback/google"