name = "store-crud-front"
compatibility_date = "2024-09-23"
compatibility_flags = ["global_fetch_strictly_public"]
main = "src/index.tsx"

# Static assets
assets.directory = "./dist"
assets.binding = "ASSETS"

# KV namespace for user settings
[[kv_namespaces]]
binding = "KV"
id = "faf63b06f0cf4d5c969166dda943cf36"

# Production Environment (default)
[vars]
API_URL = "https://store-crud-api.eri-42e.workers.dev"
GOOGLE_REDIRECT_URI = "https://store-crud-front.eri-42e.workers.dev/auth/callback/google"

[observability]
enabled = true
head_sampling_rate = 1 # optional. default = 1.

# Local Development Environment
[env.dev]

[[env.dev.kv_namespaces]]
binding = "KV"
id = "19954278d76c49cd9e431ba514b700b6"

[env.dev.vars]
API_URL = "http://localhost:8787"
GOOGLE_REDIRECT_URI = "http://localhost:5173/auth/callback/google"

# Preview Environment (remote KV)
[env.preview]

[[env.preview.kv_namespaces]]
binding = "KV"
id = "19954278d76c49cd9e431ba514b700b6"
preview_id = "19954278d76c49cd9e431ba514b700b6"

[env.preview.vars]
API_URL = "http://localhost:8787"
GOOGLE_REDIRECT_URI = "http://localhost:5173/auth/callback/google"
