name = "store-crud-front"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat_v2"]
pages_build_output_dir = "dist"

# Environment Variables
[vars]
ENVIRONMENT = "production"
API_URL = "https://store-crud-api.eri-42e.workers.dev"
GOOGLE_CLIENT_ID = "377466090650-rb5emg40c454b9pkbl8qonvadqcm6jd4.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "***REMOVED***"
GOOGLE_REDIRECT_URI = "https://store-crud-front.pages.dev/auth/callback/google"

# Preview environment configuration
[env.preview]
[env.preview.vars]
ENVIRONMENT = "preview"
API_URL = "http://localhost:8787"
GOOGLE_CLIENT_ID = "377466090650-rb5emg40c454b9pkbl8qonvadqcm6jd4.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "***REMOVED***"
GOOGLE_REDIRECT_URI = "http://localhost:5173/auth/callback/google"
