/node_modules/
.dev.vars
/frontend/.dev.vars

/src/generated/prisma
/Store.iml
/.wrangler/
/.playwright-mcp/
/.junie/
/.idea/
/.claude/
/frontend/dist/
/frontend/node_modules/
/frontend/.wrangler/

*storybook.log
storybook-static
